.row.content {
    height: 1000px;
    background-color: rgb(238, 222, 234);
}

.col-sm-9 {
    background-color: rgb(238, 207, 231);
    height: 100%;
    font-family: fantasy;
    font-size: 1.5rem;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height: auto;} 
}

.sidetext {
    font-family: fantasy;
    font-size: 2rem;
}

#focused {
    background-color:rgb(238, 222, 234);
    border-radius: 25px;
    padding: 15px;
    border: 2px solid white;
    color: black;
}

li#hover {
    padding: 5px;
}